{% extends 'base.html' %}
{% load bootstrap_toolkit %}

{% block extra_head %}
{{ form.media }}
{% endblock %}

{% block content %}
<script>
$(function(){
        var status = $('input[name="state"]').val();
        if(status ==  'inited'){
            $('#id_name').attr('readonly','readonly');
        }

        })
</script>
<hr />
<h2 class="text-center">Tool Schema</h2>
<hr />

<form enctype="multipart/form-data" class="form-horizontal" action=" " method="post">
    {% csrf_token %}
    {{ form|as_bootstrap:"horizontal" }}
    <input type="hidden" name="state" value="{{ state }}"/>
    <hr/>
    <div class="text-center">
        <p class="form-action">
        <a href={% url "tool-list-page" %}><input type="button" value="取消" class="btn btn-warning btn-large"></a>
        <span style="font-size:12px;">&nbsp;&nbsp;&nbsp;</span>
        <input type="submit" value="保存" class="btn btn-primary btn-large">
        </p>
    </div>
</form>

{% endblock %}

